header,
ul,
li {
  display: flex;
  margin-right: 20px;
  justify-content: end;
  align-items: center;
}

.library {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.bookInfo {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.book-form {
  width: 10%;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}
